*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                /************  SESSION PAGE  **************/

#container-session-page{
    background-image: url('../img/lisbon_wallpaper.jpg');
    height: 100vh;
    width: 100vw;
    position: relative;
    background-position: center;
    z-index: 1;
}

#container-session-page::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: -1;
}

#session-user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    text-align: center;
}

#session-user div a{
    display: inline-block;
    margin-top: 2rem;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
}

#session-user figure{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 50;
}

#session-user figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#widgets-below{
    padding: 0rem 2rem 0rem 2rem;
    height: 25vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}


#widgets-below #users-accounts article{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#widgets-below #users-accounts article:first-of-type{
    margin-bottom: 1rem;
}

#widgets-below #users-accounts figure{
    height: 50px;
    width: 50px;
    border: 3px solid gray;
    border-radius: 50%;
    padding: 5px;
}

#widgets-below #users-accounts figure img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}


                        /******* DESK PAGE **********/

#container-desk-page{
    background-image: url('../img/windows_wallpaper.jpg');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.desk-widgets{
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desk-widgets:hover{
    background-color: gray;
}

#folder-icon,
#pdf-icon{
    width: auto;
}

#folder-icon{
    height: 40px;
    padding: 5px;
}

#pdf-icon{
    height: 50px;
}

#bottom-menu-bar{
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    height: 6vh;
}


                                /******** PORTFOLIO FOLDER **********/

#portfolio{
    border: 1px solid white;
    background-color: rgb(21, 21, 21);
    width: 60vw;
    height: 500px;
    overflow: hidden;
}

#tab{
    background-color: rgb(47, 47, 47);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 30%;
    margin: 10px 0px 0px 10px;
    border-radius: 10px 10px 0px 0px;
}

#tab #folder{
    color: rgb(243, 212, 88);
}

#tab-sub-menu,
#tab-sub-menu ul,
#tab-sub-menu #path{
    background-color: rgb(47, 47, 47);
    display: flex;
    align-items: center;

}

#tab-sub-menu{
    color: white;
    height: 40px;
    gap: 0.6rem;
}

#tab-sub-menu ul:first-of-type{
    justify-content: space-evenly;
    flex: 2;
}

#tab-sub-menu #path{
    flex: 3;
    gap: 20px;
}

#portfolio-searchbar{
    flex:2;
}

#tab-sub-menu #path{
    padding: 5px 5px 5px 10px;
}


#tab-sub-menu #path,
#portfolio-searchbar {   
    border-radius: 5px;
    background-color: rgb(57, 57, 57);

}

#portfolio-searchbar{
    position: relative;
    margin-right: 10px;
    padding: 5px;    
}

#portfolio-searchbar input{
    background-color: rgb(57, 57, 57);
    outline: none;
    border: none;
    width: 100%;
}

#portfolio-searchbar  i{
    position: absolute;
    right: 10px;
}

#intern-menu{
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(124, 124, 124, 0.241);
    border-top: 1px solid rgba(124, 124, 124, 0.241);
    height: 55px;
    align-items: center;
}

#intern-menu, 
#intern-menu ul,
#intern-menu ul li{
    display: flex;
    color: white;
}

#intern-menu ul{
    list-style-type: none;
}

.bar-left{
    border-left: 1px solid rgba(124, 124, 124, 0.241);
    padding: 10px;
}

#intern-menu #new-list div{
    border: 1px solid white;
    border-radius: 50%;
}

#intern-menu #new-list{
    flex: 1.5;
}

#intern-menu #icon-list{
    flex: 3;
}

#intern-menu #action-list{
    gap: 10px;
}

#intern-menu #action-list,
#intern-menu #detail-list{
    flex: 2;
}


#intern-menu #new-list,
#intern-menu #icon-list,
#intern-menu #action-list{
    justify-content: space-evenly;
}

#intern-menu #detail-list{
    justify-content: space-between;
}

#intern-menu .little-chevron{
    font-size: 0.5rem;
}

#window-main-content{
    display: flex;
    height: 355px;
    color: white;

}

#scrollable-menu{
    overflow-y: scroll;
}

#table-file{
    width: 75%;
    margin-top: 10px;}

#table-file thead tr{
    display: flex;
    justify-content: space-evenly;
}

#table-file thead tr td{
    border-right: 1px solid rgba(124, 124, 124, 0.241);
    padding-left: 10px;
}

#table-file thead tr #name{
    flex: 3;
    padding-left: 30px;
}

#table-file thead tr #modified,
#table-file thead tr #type{
    flex: 2;
}

#table-file thead tr #size{
    flex: 1;
}